<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="C:\Users\bhall\WEB322 Assignment 3\facultysolution--A2\public\css\main.css">
</head>
<body>
        <!-- nav bar code -->
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost sm:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
              <li><a class="active" href="/about">About</a></li>
              <li>
                <details>
                  <summary>
                    Theme
                  </summary>
                  <ul class="p-2 bg-base-100">
                    <li><a href="/lego/sets?theme=technic">Technic</a></li>
                    <li><a href="/lego/sets?theme=Classic Castle">Classic Castle</a></li>
                    <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                  </ul>
                </details>
              </li>
            </ul>
          </div>
        <div class="navbar-center hidden sm:flex">
          <ul class="menu menu-horizontal px-1">
            <li><a class="active" href="/about">About</a></li>
            <li>
              <details>
                <summary>Theme</summary>
                <ul class="p-2 bg-base-100 right-0">
                  <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                  <li><a href="/lego/sets?theme=Classic Castle">Classic Castle</a></li>
                  <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
            <!-- nav bar code -->


            <!-- container -->
      <div class="md:container md:mx-auto">
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row">
              <div>
                <h1 class="text-5xl font-bold text-center">About!</h1>
                <h4 class="py-6 text-center font-bold">All about me!</h4>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
                    <div class="border-2">
                        <img  class="max-w-5rem max-h-5rem object-cover" src="https://i.pinimg.com/originals/8a/8b/50/8a8b50da2bc4afa933718061fe291520.jpg" alt="dota">
                    </div>
                    <div class="border-2 p-8">
                        <p class="text-justify">Juan Rivera, aspiring software developer from Colombia. Currently in 3rd semester of computer programming at Seneca Polytechnic. 
                            This is a test website made for WEB322 utilizing tailwind and DaisyUI. In my free time 
                            I like to play guitar, play videogames and go to the gym.</p>
                    </div>
                  </div>  
            </div>
            </div>
          </div>         
      </div>
      

      <!-- container -->
    
</body>
</html>